# Flutter/Dart
build/
.dart_tool/
.packages
pubspec.lock

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Flutter artifacts
.dart_tool/
build/
.idea/
.flutter-plugins-dependencies
*.apk
google-services.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
